<!DOCTYPE html>
<html>
<head>
  <title>BuyList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to I18n.t('logout'), signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to I18n.t('signin.facebook'), "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<br/>
<div id="locale">
  <%= link_to 'US', root_path(:locale => 'en') %> |
  <%= link_to 'PT', root_path(:locale => 'pt-BR') %>
</div>

<%= yield %>

</body>
</html>
